* {
  margin:0;
  padding: 0;
}
body {
    /*background-color: #ADD8E6;     a4da56   e4ffbc*/
  /*  background-color:    #ebf4d6    ;*/
    background-color:     #f4f6f6    ;
  }


.text-primary {
  color:  #2e86c1 ;
}

.bg-primary {
  background-color:    #4e7a90   !important;
}

.text-blue{
  color: #5b7989;
}

.text-success{
  color: #81B052  !important;
}

.btn-bClaro{
  background-color: #a8c2ff !important;
}

.btn-rClaro{
  background-color: #a3f272 !important;
}


.bg-gray {
  background-color: #acacac !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.footr{
  position: absolute;
  bottom: 130px;
  width: 100%;
  height: 40px;
}

textarea {
  resize: none;
}


   a:hover {
    text-decoration : none;
  }


 .tablas{
   overfloW: auto;
 }

 .bg-roClaro{
   background-color: #cf434b !important;
 }


 .imgPortada {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.imgPortada .imgText {
  visibility: hidden;
  width: 180px;
  background-color: #808c8c;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 40%;
  margin-left: -60px;
  font-size: 18px;
  font-weight: bold;
  opacity:.9;
}

.imgPortada .imgText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.imgPortada:hover .imgText {
  visibility: visible;
}

.modebar{
      display: none !important;
}



.histograma{
  opacity: 0;
  height: 0;
  transition: all 2s;
 }

/*
.valPeli:active .histograma {
  opacity:1;
  height: 320px;
}

*/
